streamlit
langchain
langchain-google-genai
langchain-chroma
langgraph
langchain-community
python-dotenv
unstructured
pypdf
tiktoken
google-generativeai
typing-extensions
langchain-anthropic
pydantic

faiss-cpu
