streamlit
langchain
langchain-google-genai
langchain-chroma
langchain-anthropic
langgraph
langchain-community
faiss-cpu
python-dotenv
unstructured
pypdf
tiktoken
google-generativeai
typing-extensions
pydantic
typing-extension
